@model  IEnumerable<Libs.DTOs.SearchUser_Result>
@{
    ViewBag.Title = "Nhân Viên";
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading mypanel">
                Nhân Viên
                <div class="btn-group pull-right">
                    <button class="btn green btn-success">
                        @Html.ActionLink("Thêm mới ", "CreateUser", "Employees")<i class="icon-plus"></i>
                    </button>
                </div>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <div class="clearfix ">
                        @using (Html.BeginForm("SearchUser", "Employees", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal kh" }))
                    {
                    <div class="pull-left row col-md-12 nopadding ">
                        <div class="col-md-2 TcssMarg">
                            <select class="form-control input-sm m-bot15  myctr" name="Status">
                                @if (ViewBag.status == -1)
                                {
                                    <option value="-1" selected>Chọn Trạng Thái</option>
                                }
                                else
                                {
                                    <option value="-1" >Chọn Trạng Thái</option>
                                }
                                @if (ViewBag.status == 0)
                                {
                                    <option value="0" selected>Đang Hoạt Động</option>
                                }
                                else
                                {
                                    <option value="0">Đang Hoạt Động</option>
                                }
                                @if (ViewBag.status == 1)
                                {
                                    <option value="1" selected>Đã Nghỉ</option>
                                }
                                else
                                {
                                    <option value="1">Đã Nghỉ</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2 TcssMarg">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm" type="submit">Tìm kiếm <i class="icon-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <table class="display table table-bordered table-striped table-hover" id="example">
                        <thead>
                            <tr>
                                <th>Tên Người dùng</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Địa Chỉ</th>
                                <th>Trạng Thái</th>
                                <th class="center">Xem</th>
                                <th class="center">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                                {
                                <tr class="gradeA" id="row_@item.Id">
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Address</td>
                                    <td>@Html.Raw(Convert.ToInt32(item.Status).GetEnumDescription(typeof(eStatus.UserStatus)))</td>
                                    <td class="center"><a class="edit icon-eye-open" href="@Url.Action("DetailUser", "Employees", new { id = item.Id })"></a></td>
                                    <td class="center">
                                        <a class="icon-trash" id="deleteItem" onclick="ConfirmDelete(@item.Id)"></a>
                                    </td>
                                </tr>

                                }
                        </tbody>
                    </table>
                    <input type="hidden" id="hiddenId" />
                    }
                    </div>
                </div>
            </div>
            <partial name="~/Views/Employees/Partialview.cshtml" />
        </section>
    </div>
</div>
<script>
    $('.Tool').addClass('active');
    $('.Usertable').addClass('active');
</script>
<script>
    $(document).ready(function () {
        $('#example').dataTable({
            "oLanguage": {
                "sLengthMenu": "Hiển thị _MENU_ nhân viên",
                "sInfo": "Hiển thị từ _START_ đến _END_ nhân viên",
                "sSearch": "Tìm Kiếm",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [6, 7],
            }]
        });
    });
</script>

