@model Libs.Models.ProjectDkc
@{
    ViewBag.Title = Model.ProjectName;
}
<link href="~/Content/css/tcssproject.css" rel="stylesheet" />
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<section class="panel">
    @using (Html.BeginForm("EditDepartment", "Department", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal  editcontent" }))
    {
        @Html.AntiForgeryToken()
        <header class="panel-heading mypanel">
            <a class="edit panel-default" style="margin-right:10px" href="@Url.Action("Department", "Department" )">
                <span class="icon-border">
                    <i class="icon-arrow-left"> </i>
                </span>
            </a>
            Chi tiết  @Model.ProjectName

            <div class="pull-right">
                @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("EditProject")))
                    {*@
                <button type="button" class="btn btn-warning btn-large " id="BtnEdit"> Sửa </button>
                @*}*@
                @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("EditProject")))
                    {*@
                <button type="submit" class="btn btn-primary btn-large" id="BtnSave"> Lưu </button>
                @*}*@
                @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("EditProject")))
                    {*@
                <button type="reset" class="btn btn-white btn-large" id="BtnCancel"> Hủy </button>
                @*}*@
            </div>
        </header>
    <!--Start edit-->
        <input class="hidden" value="@Model.Id" name="Id" />
        <div class="panel-body Tlabel-Edit row" id="DisableProject">
            <div class="col-md-6">
                <div class="form-group m-bot15 clearfix">
                    <div class="col-md-4">
                        <label>Mã Phòng</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control myctr" type="text" value="@Model.ProjectSymbol" name="ProjectSymbol" autocomplete="off">
                    </div>
                </div>
                <div class="form-group m-bot15 clearfix">
                    <div class="col-md-4">
                        <label> Tên Phòng </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control myctr" type="text" value="@Model.ProjectName" name="ProjectName">
                    </div>
                </div>
                <div class="form-group m-bot15 clearfix">
                    <div class="col-md-4">
                        <label>Người quản lí</label>
                    </div>
                    <div class="col-md-8">
                        <select class="input-large form-control myctr ManagerProjectSelect" name="ManagerProject">
                            @if (Model.ManagerProject == 0)
                            {
                                <option value="0"selected)>Chọn người quản lí</option>
                            }
                            else
                            {
                                <option value="0">Chọn người quản lí</option>
                            }
                            
                            @foreach (var item in ViewData["User"] as IList<User>)
                            {
                                if (Model.ManagerProject == item.Id)
                                {
                                    <option value="@item.Id" selected)>@item.FullName</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.FullName</option>
                                }
                                
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group m-bot15 clearfix">
                    <div class="col-md-4">
                        <label>Trạng thái</label>
                    </div>
                    <div class="col-md-8">
                        <select class="input-large form-control myctr" name="Status">
                            @if (Model.Status == 1)
                            {
                                <option value="1" selected)>Đang hoạt động</option>
                            }
                            else
                            {
                                <option value="1">Đang hoạt động</option>
                            }
                            @if (Model.Status == 2)
                            {
                                <option value="2" selected)>Dừng hoạt động</option>
                            }
                            else
                            {
                                <option value="2">Dừng hoạt động</option>
                            }                        
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <input type="hidden" name="CreatedDate" value=@Model.CreatedDate />
                <div class="form-group m-bot15 clearfix">
                    <div class="col-md-4">
                        <label>Địa chỉ</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="cke_editable form-control form myctr" rows="3" id="editer2" name="Address">@Model.Address</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body row">
            <div class="col-md-10">
                <header class="panel-body Tcsspad">
                    <h4 style="display:inline">Danh sách thiết bị tại @Model.ProjectName  </h4>
                    <div style="float:right">
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn-white" data-toggle="dropdown">
                                Export<i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                @*<li><a href="javascript:void(0)" onclick="printDivPr()">Print</a></li>*@
                                <li><a href="javascript:void(0)" id="btnExportPr" onclick="fnExcelReportPr();">Export to Excel</a></li>
                            </ul>
                        </div>
                        @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("AddDeviceInProject1") || k.ActionName.Equals("AddDeviceProjectAll")))
                            {*@
                        <a id="btnAddeviceofProject"  class="btn btn-success" href="@Url.Action("AddDeviceInDepartment", "Department", new { id = Model.Id, DeviceType = 0 })">Thêm thiết bị <i class="icon-plus"></i></a>

                        @*}*@

                        @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("ReturnDeviceProjectAll")))
                            {*@
                        <button class="btn btn-success  btn-large" type="button" href="javascript:void(0)" onclick="ReturnDeviceInProjectAll()">Trả thiết bị  đã chọn <i class="icon-share-alt"></i></button>
                        @*}*@
                        <div class="btn-group">
                            <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Quét thiết bị <i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("AddDeviceInProjectMachine")))
                                        {*@
                                    <a id="btnAddeviceofProjectMachine" class="btn" href="@Url.Action("AddDeviceInDepartmentMachine", "Department", new { id = Model.Id})">Quét thêm thiết bị <i class="icon-barcode"></i></a>
                                    @*}*@
                                </li>
                                <li>
                                    @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("ReturnDeviceInProjectMachine")))
                                        {*@
                                    <a id="btnAddeviceofProjectMachine" class="btn  " href="@Url.Action("ReturnDeviceInDepartmentMachine", "Department", new { id = Model.Id})">Quét trả thiết bị <i class="icon-barcode"></i></a>
                                    @*}*@
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <section class="panel">
                    <div class="panel-body tcssMarT">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="exampleMT">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll1" name="check" /></th>
                                        <th>Mã thiết bị </th>
                                        <th>Tên thiết bị </th>
                                        <th>Loại thiết bị</th>
                                        <th>Cấu hình</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày mượn </th>
                                        <th>Mô tả</th>
                                        <th>Trả về kho</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewData["DeviceOfProjectAll"] as IList<DeviceOfProjectAll_Result>)
                                    {
                                        <tr class="gradeX" id="row_@item.Id">
                                            <td style="width:3%"><input type="checkbox" name="check" class="check" value="@item.Id" /></td>
                                            <td style="width:10%">@item.DeviceCode</td>
                                            <td style="width:16%">@item.DeviceName</td>
                                            <td style="width:12%" class="hidden-phone">@item.TypeName</td>
                                            <td style="width:18%">@Html.Raw(@item.Configuration)</td>
                                            <td style="color:#ff6c60 ;width:10%">
                                                @Html.Raw(item.Status.GetEnumDescription(typeof(eStatus.DeviceStatusT)))<br />
                                                <p> @Html.Raw(Convert.ToInt32(item.StatusRepair).GetEnumDescription(typeof(eStatus.RepairStatus)))</p>
                                            </td>
                                            <td style="width:11%" class="center">@String.Format("{0:dd/MM/yyyy}", item.DateOfDelivery)</td>
                                            <td style="width:9%"> @item.Notes</td>
                                            <td style="width:11%" class="center">
                                                @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("ReturnDeviceInProject")))
                                                    {*@
                                                <a class="" href="javascript:void(0)" onclick="ConfirmReturn(@item.Id)"><i class="icon-share-alt"></i></a>
                                                @*}*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" id="hiddenIdpr" name="hiddenIdpr" value="@Model.Id" />
                            <input type="hidden" id="hiddenIddv" name="hiddenIddv" />
                            <input type="hidden" id="hiddenIddv" name="hiddenIddv" />
                        </div>
                    </div>
                    <!--Button-->
                    <div class="form-group panel-body">
                        <div class="TcssButton">
                            @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("EditProject")))
                                {
                                    <button class="btn btn-primary btn-large" type="submit"> Cập nhật </button>
                                }*@
                            <button class="btn btn-white btn-large" type="button">@Html.ActionLink("Hủy ", "Project", "Project")</button>

                        </div>
                    </div>
                    <!--The end Button-->
                </section>
                <!--The end table-->
            </div>
            <partial name="ReturnDeviceInDepartmentPartial" />
            <partial name="ReturnDeviceInDepartmentAllPartial" />
            <div class="col-md-2 tcssMarT">
                <div class="panel-body">
                    <div class="row">
                        <div class="tkcs">
                            <h4 class="FontHeader">  Số lượng thiết bị </h4>
                            <ul>
                                @foreach (var item in ViewData["CountingDeviceType"] as Dictionary<string, int>)
                                {
                                    <li>
                                        <a>
                                            <h4 class="gradeX">  @item.Key  <i class="text-primary"></i></h4>
                                            Số lượng : @item.Value
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--The End DesigneTable-->
    <!--Popup EDIT-->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Xác nhận</h4>
                    </div>
                    <div class="modal-body">
                        <!--Containt-->
                        <div class="form-body">
                            Bạn chắc chắn muốn trả thiết bị về kho
                        </div>
                        <!--The end Containt-->
                    </div>
                    <div class="modal-footer col-md-12">
                        <div class="col-md-5  left">
                        </div>
                        <div class="col-md-7">
                            <button type="button" class="btn btn-primary btn-large" data-dismiss="modal">Đồng ý</button>
                            <button type="button" class="btn btn-white btn-large" data-dismiss="modal"> Hủy <i class="icon-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--The end popup-->
</section>

<!--Start Scrip-->
<script>
    $(document).ready(function () {
        var check = @Model.Status;
        if(check == 2)
        {
        $("#btnAddeviceofProject").attr('disabled', 'disabled') ;
        $("#btnAddeviceofProjectMachine").attr('disabled', 'disabled') ;
        }
        else
        {
            $("#btnAddeviceofProject").removeAttr('disabled');
            $("#btnAddeviceofProjectMachine").removeAttr('disabled');
        }

        var table = $('#exampleMT').dataTable({
            "oLanguage": {
                "sInfo": "Hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
                "sSearch": "Tìm Kiếm",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                }
            },
            "iDisplayLength": 10,
            //"bLengthChange": false,
            //"bFilter": false,
            "aoColumnDefs": [
                 { "aTargets": [0], bSortable: false },
                //{ "sWidth": "10%", "aTargets": [1] },
                //{ "sWidth": "19%", "aTargets": [2] },
                //{ "sWidth": "10%", "aTargets": [3] },
                //{ "sWidth": "19%", "aTargets": [4] },
                // { "sWidth": "11%", "aTargets": [5] },
                //{ "sWidth": "10%", "aTargets": [6] },
                //{ "sWidth": "9%", "aTargets": [7] },
                { "aTargets": [8], bSortable: false },

            ]
        });
        $("#checkAll1").click(function () {
            var rows = table.$('tr', { search: 'applied' });
            if ($('input:checked', rows).length == rows.length) {
                $('input[type="checkbox"]', rows).prop('checked', false);
            }
            else {
                $('input[type="checkbox"]', rows).prop('checked', true);
            }
        });
        $("body").on("change", "input", function () {
            var rows = table.$('tr', { search: 'applied' });
        });
    });
    $('.ManagerProjectSelect').select2();
    //Disable
    $('#DisableProject').find('input, button, select,textarea').attr('disabled', 'disabled');
    $("#BtnEdit").show();
    $("#BtnSave").hide();
    $("#BtnCancel").hide();
    $("#BtnEdit").click(function () {
        $('#DisableProject').find('input, button, select,textarea').removeAttr('disabled');
        $("#BtnEdit").hide();
        $("#BtnSave").show();
        $("#BtnCancel").show();
    });
    $("#BtnSave").click(function () {
        $("#BtnEdit").show();
        $("#BtnSave").hide();
        $("#BtnCancel").hide();
    });
    $("#BtnCancel").click(function () {
        $("#BtnEdit").show();
        $("#BtnSave").hide();
        $("#BtnCancel").hide();
        $('#DisableProject').find('input, button, select,textarea').attr('disabled', 'disabled');
    });
    //Exel
    function fnExcelReportPr() {

        var IdProject = $('#hiddenIdpr').val();
        //var  Notes = $('# Notes').val();
        //var DateOfDelivery = $('#DateOfDelivery').val();
        //var Status = $('#Status').val();
        //var ConfigDevice = $('#Guarantee').val();
        //var DeviceName = $('#DeviceName').val();
        //var DeviceCode = $('#DeviceCode').val();
        $.ajax({
            url: "/Department/ExportToExcel",
            data: {
                IdProject: IdProject
                //Notes: Notes,
                //DateOfDelivery: DateOfDelivery,
                //Status: Status,
                //ConfigDevice: ConfigDevice,
                //DeviceName: DeviceName,
                //DeviceCode:DeviceCode
            },
            success: function (response) {
                response = response.replace("DeviceCode", "Mã Thiết Bị");
                response = response.replace("DeviceName", "Tên Thiết Bị");
                response = response.replace("TypeName", "Tên Loại");
                response = response.replace("Configuration", "Cấu Hình");
                response = response.replace("Notes", "Mô tả");
                response = response.replace("StatusRepair", "Trạng thái");
                response = response.replace("DateOfDelivery", "Ngày mượn");
               // response = response.replace(Re) .rows();
                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE ");
                if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
                {
                    txtArea1.document.open("txt/html", "replace");
                    txtArea1.document.write(response);
                    txtArea1.document.close();
                    txtArea1.focus();
                    sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
                }
                else                 //other browser not tested on IE 11
                    sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(response));
                console.log(response)
            }
        })
    }
    //Print
    function printDivPr() {
        var divToPrint = document.getElementById('exampleMT');
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

</script>
<!--The end Scrip-->