<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading mypanel">
                @ViewBag.Title
                <div class="btn-group pull-right">
                    @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Device") && k.ActionName.Equals("Create")))
                    {*@
                        <button class="btn green btn-success">
                            @Html.ActionLink("Thêm mới ", "Create", "Device", new { Id = ViewBag.type }, null)<i class="icon-plus"></i>
                        </button>
                    @*}*@
                </div>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <div class="clearfix ">
                        @using (Html.BeginForm("SearchTypeDevice", "Device", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal kh" }))
                        {
                            <div class="pull-left row col-md-12 nopadding">
                                <div class="col-md-2 TcssMarg">
                                    <select class="form-control input-sm m-bot15 myctr" name="TypeOfDevice" id="TypeOfDevice">
                                       
                                        @foreach (var item in ViewData["TypeOfDevice"] as IList<DeviceType>)
                                        {
                                            if (ViewBag.type == item.Id)
                                            {
                                                <option value="@item.Id" selected="selected">@item.TypeName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.TypeName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 TcssMarg">
                                    <select class="form-control input-sm m-bot15  myctr" name="Status" id="Status">
                                        @if (ViewBag.status == -1)
                                        {
                                            <option value="-1" selected="selected">Chọn Trạng Thái</option>
                                        }
                                        else
                                        {
                                            <option value="-1">Chọn Trạng Thái</option>
                                        }
                                        @if (ViewBag.status == 0)
                                        {
                                            <option value="0" selected="selected">Rảnh</option>
                                        }
                                        else
                                        {
                                            <option value="0">Rảnh</option>
                                        }
                                        @if (ViewBag.status == 1)
                                        {
                                            <option value="1" selected="selected">Đang sử dụng</option>
                                        }
                                        else
                                        {
                                            <option value="1">Đang sử dụng</option>
                                        }
                                        @if (ViewBag.status == 3)
                                        {
                                            <option value="3" selected="selected">Đang Bị Hỏng</option>
                                        }
                                        else
                                        {
                                            <option value="3">Đang Bị Hỏng</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 TcssMarg">
                                    <select class="form-control input-sm m-bot15 myctr" name="Guarantee" id="Guarantee">
                                        @if (ViewBag.guarantee == 0)
                                        {
                                            <option value="0" selected="selected">Bảo Hành</option>
                                        }
                                        else
                                        {
                                            <option value="0">Bảo Hành</option>
                                        }
                                        @if (ViewBag.guarantee == 1)
                                        {
                                            <option value="1" selected="selected">Còn Bảo Hành</option>
                                        }
                                        else
                                        {
                                            <option value="1">Còn Bảo Hành</option>
                                        }
                                        @if (ViewBag.guarantee == 2)
                                        {
                                            <option value="2" selected="selected">Hết Bảo Hành</option>
                                        }
                                        else
                                        {
                                            <option value="2">Hết Bảo Hành</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 TcssMarg">
                                    <select class="form-control input-sm m-bot15 myctr" name="ProjectDKC" id="ProjectDKC">
                                        <option value="0">Chọn phòng ban</option>
                                        @foreach (var item in ViewData["ProjectDKC"] as IList<ProjectDkc>)
                                        {
                                            if (ViewBag.poject == item.Id)
                                            {
                                                <option value="@item.Id" selected>@item.ProjectName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id" >@item.ProjectName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2 TcssMarg">
                                    <input class="form-control input-sm m-bot15 myctr" placeholder="Tìm Kiếm" name="DeviceCode" value="@ViewBag.deviceCode" autocomplete="off">
                                </div>
                                <div class="col-md-1 TcssMarg">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm" type="submit">Tìm kiếm <i class="icon-search"></i></button>
                                    </div>
                                </div>
                                <div class="btn-group pull-right myeport ">
                                    <button class="btn " id="btnExport" type="button" onclick="fnExcelReport()">
                                        Export
                                    </button>
                                    @*<ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0)" onclick="printDiv()">Print</a></li>
                                            <li><a href="javascript:void(0)" id="btnExport" onclick="fnExcelReport();">Export to Excel</a></li>
                                        </ul>*@
                                </div>
                                <div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        Lựa chọn<i class="icon-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Device") && k.ActionName.Equals("AddDeviceProject1")))
                                        {*@
                                            <li><a href="javascript:void(0)" onclick="Confim()">Gán các thiết bị đã chọn cho dự án</a></li>@*}*@
                                        @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Device") && k.ActionName.Equals("ReturnDeviceProject")))
                                        {*@
                                            <li><a href="javascript:void(0)" onclick="ConfimReturn()">Trả các thiết bị về kho</a></li>@*}*@
                                        <li><a href="javascript:void(0)" id="ConfimprintImg">In Mã Vạch Các Thiết Bị Đã Chọn</a></li>
                                        @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Device") && k.ActionName.Equals("LiquidationDevice")))
                                        {*@
                                            <li><a href="javascript:void(0)" onclick="Confim1()">Thanh lý các thiết bị đã chọn</a></li>@*}*@
                                        @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Device") && k.ActionName.Equals("DeleteDevice")))
                                        {*@
                                            <li><a href="javascript:void(0)" id="deleteItem1" onclick="ConfirmDelete1()">Xóa các thiết bị đã chọn</a></li>@*}*@
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 nopadding">
                                <div class="form-group col-md-6 clearfix pull-left" id="countdevice" style="margin-right: -29px">
                                    <label class="control-label" style="color:blue"><b>Tìm Thấy @ViewBag.CountDevice Thiết Bị</b></label>
                                </div>
                            </div>
                        }
                        <table class="display table table-bordered table-striped table-hover" id="example" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="center" style="width:2%">
                                        <input name="check" id="checkAll1" type="checkbox" />
                                    </th>
                                    <th style="width:9%">Mã</th>
                                    <th style="width:11%">Tên Thiết Bị</th>
                                    <th style="width:10%">Loại</th>
                                    <th style="width:7%">Giá</th>
                                    <th style="width:10%">Người dùng</th>
                                   
                                    <th style="width:15%">Cấu Hình</th>
                                    <th style="width:10%">Phòng</th>
                                    <th style="width:8%">Trạng Thái</th>
                                    <th style="width:12%">Kiểu thiết bị</th>
                                    <th style="width:3%">Xem</th>
                                    <th style="width:3%">Xóa</th>
                                </tr>
                            </thead>
                            <tbody id="tabledvdiv">
                                @{foreach (var item in Model)
                                    {
                                        <tr class="gradeA" id="row_@item.">
                                            <td class="center" style="width:2%"><input type="checkbox" name="check" class="form-c check" value="@item.Id" data-status="@item.Status" data-code="@item.DeviceCode" /></td>
                                            <td style="width:9%">@item.DeviceCode</td>
                                            <td style="width:11%"> @item.DeviceName</td>
                                            <td style="width:11%">@item.TypeName</td>
                                            <td style="text-align:right; width:8%">@item.PriceOne</td>
                                            <td style="width:10%">@item.FullName</td>
                                            <td style="width:15%">@Html.Raw(item.Configuration)</td>
                                            <td style="width:5%">@item.ProjectSymbol</td>
                                            <td style="width:10%">
                                                @Html.Raw(Convert.ToInt32(item.Status).GetEnumDescription(typeof(eStatus.DeviceStatus)))<br />
                                                @Html.Raw(Convert.ToInt32(item.StatusRepair).GetEnumDescription(typeof(eStatus.RepairStatus)))
                                            </td>
                                            <td style="width:15%">@item.NameTypeComponant</td>
                                            <td class="center" style="width:3%">
                                                <a class="edit  icon-eye-open" href="@Url.Action("EditDevice", "Device", new { Id = item.Id })"></a>
                                            </td>
                                            <td class="center" style="width:3%">
                                                @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Device") && k.ActionName.Equals("DeleteDevice")))
                                                {*@
                                                    <a class="icon-trash" id="deleteItem" onclick="ConfirmDelete(@item.Id,@item.Status)"></a>
                                                @*}*@
                                            </td>
                                        </tr>
                                    }}
                            </tbody>
                        </table>
                        <input type="hidden" id="hiddenId" />
                        <input type="hidden" id="Statushidden" />
                        <input type="hidden" id="hiddenId1" />
                        <input type="hidden" id="DeviceBarCode" />
                        <iframe id="txtArea1" style="display:none"></iframe>
                    </div>

                </div>
            </div>
            @Html.Partial("DevicePartial")
            <div class="modal fade" id="myModaldelete1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">DELETE</h4>
                        </div>
                        <div class="modal-body">
                            Bạn có muốn xóa thiết bị đã chọn?
                            <div style="text-align:center;display:none" id="loaderDiv">
                                <img src="~/Content/img/Spinner-1s-200px.gif" width="150" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Hủy</button>
                            <a id="btnContinueDelete1" class="btn btn-warning"> Xoá</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Liquidation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">DELETE</h4>
                        </div>
                        <div class="modal-body">
                            Bạn có muốn thanh lý thiết bị đã chọn?
                            <div style="text-align:center;display:none" id="loaderDiv">
                                <img src="~/Content/img/Spinner-1s-200px.gif" width="150" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Hủy</button>
                            <a id="btnLiquidation" class="btn btn-warning">Thanh Lý</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Returnproject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Trả Về Kho</h4>
                        </div>
                        <div class="modal-body">
                            Bạn có muốn trả các thiết bị đã chọn về kho ?
                            <div style="text-align:center;display:none" id="loaderDiv">
                                <img src="~/Content/img/Spinner-1s-200px.gif" width="150" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Hủy</button>
                            <a id="btnreturndevice" class="btn btn-warning">Trả Về Kho</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
<script src="~/Scripts/DeviceScripts.js"></script>
<script>
    var a = $('#TypeDevice').val();
    $('.@ViewBag.type').addClass('active');
    $('.Device').addClass('active');

    $('#ProjectDKC').select2();
</script>