@model IEnumerable<Libs.DTOs.SearchScheduleTest_Result>
@{
    ViewBag.Title = "Danh sách lịch kiểm tra thiết bị";
}
<link href="~/css/TcssProject.css" rel="stylesheet" />
<link href="~/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<!-- page start-->
<section class="panel">
    <!--Header-->
    <header class="panel-heading" style="padding-bottom:20px">
        Lịch kiểm tra thiết bị
        @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("ScheduleTest") && k.ActionName.Equals("AddScheduleTest")))
        {*@
            <div class="btn btn-success btn-sm" style="float:right">
                <a href="@Url.Action("AddScheduleTest", "ScheduleTest")"> Thêm </a> <i class="icon-plus"></i>
            </div>
        @*}*@
    </header>
    <!--The end header-->
    <!--Seach-->
    <div class="row panel-body clearfix ">
        @using (Html.BeginForm("SeachScheduleTest", "ScheduleTest", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal  editcontent" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-2 TcssMarg select2css">
                <select class="input-sm form-control myctr " name="User" id="User">
                    <option value="0">Người kiểm tra</option>
                    @foreach (var item in ViewData["User"] as IList<User>)
                    {
                        <option value="@item.Id" selected="@((ViewBag.Users == @item.Id) ? "selected" : "")"> @item.FullName </option>
                    }
                </select>
            </div>
            <div class="col-md-2 TcssMar">
                <select class="input-sm form-control  myctr " name="Status">
                    <option value="" selected="@((ViewBag.Status == null) ? "selected" : "")"> Trạng thái </option>
                    <option value="0" selected="@((ViewBag.Status == 0) ? "selected" : "")"> Chưa kiểm tra </option>
                    <option value="1" selected="@((ViewBag.Status == 1) ? "selected" : "")"> Đã kiểm tra</option>
                </select>
            </div>
            <div class="col-md-2 ">
                <div class="btn-group TcssBtn">
                    <button class="btn btn-primary btn-sm" type="submit">Tìm kiếm <i class="icon-search"></i></button>
                </div><!-- /btn-group -->
            </div>
        }
        <div class="col-md-offset-4 col-md-2  " style="text-align:right ; padding: 0px">
            @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("ScheduleTest") && k.ActionName.Equals("DeleteScheduleTest")))
            {*@
                <button class="btn btn-primary  btn-sm" type="button" href="javascript:void(0)" id="deleteItem1" onclick="ConfirmDelete1()">Xóa tất cả mục đã chọn <i class="icon-trash"></i></button>
            @*}*@
        </div>
    </div>
    <!--Finish seach-->
    <div class="col-md-12 tcssMarT">
        <div class="adv-table">
            <table class="display table table-bordered table-striped table-hover" id="exampleMT">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkAll" name="check" /></th>
                        <th>Mã thiết bị  </th>
                        <th>Tên thiết bị  </th>
                        <th>Ngày kiểm tra </th>
                        <th>Ngày kiểm tra tiếp</th>
                        <th>Loại kiểm tra</th>
                        <th class="hidden-phone">Người kiểm tra  </th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                        <th>Xem</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="gradeA" id="row_@item.Id">
                            <td style="width:2%"><input type="checkbox" class="checkbox check" name="check" value="@item.Id" /></td>
                            <td style="width:10%">@item.DeviceCode</td>
                            <td style="width:12%">@item.DeviceName</td>
                            <td style="width:11%" class="center">@String.Format("{0:dd/MM/yyyy}", item.DateOfTest)</td>
                            <td style="width:13%" class="center">@String.Format("{0:dd/MM/yyyy}", item.NextDateOfTest)</td>
                            <td style="width:17%" class="hidden-phone">@item.CategoryTest</td>
                            <td style="width:12%" class="hidden-phone">@item.FullName</td>
                            <td style="width:10%" class="hidden-phone">@Html.Raw(item.Status.GetEnumDescription(typeof(eStatus.StatusScheduleTest)))</td>
                            <td style="width:17%" class="hidden-phone">@item.Notes</td>
                            <td style="width:3%" class="center"><a class="edit" href="@Url.Action("EditScheduleTest", "ScheduleTest", new { Id = @item.Id})"><i class="icon-eye-open"></i></a></td>
                            <td style="width:3%" class="center">
                                @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("ScheduleTest") && k.ActionName.Equals("DeleteScheduleTest")))
                                {*@
                                    <a class="edit" href="javascript:void(0)" onclick="ConfirmDelete(@item.Id)"><i class="icon-trash"></i></a>
                                @*}*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="hidden" id="hiddenId1" />
            <input type="hidden" id="hiddenId" />
        </div>
    </div>
</section>
<partial name="DeleteScheduleTestPartial" />


<!-- page end-->
<!--Start Scrip-->
<script>
    $(document).ready(function () {
        $('#exampleMT').dataTable({
            "oLanguage": {
                "sInfo": "Hiển thị từ _START_ đến _END_ của _TOTAL_ bản ghi",
                "sSearch": "Tìm Kiếm",
                "oPaginate": {
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                }
            },
            "iDisplayLength": 25,
            //"bLengthChange": false,
            //"bFilter": false,
            "aoColumnDefs": [
                { "aTargets": [0], bSortable: false },
                { "aTargets": [9], bSortable: false },
                { "aTargets": [10], bSortable: false },
            ]
        });
    });
    $('.ScheduleTest').addClass('active');
    $('.ScheduleTestTable').addClass('active');
    $('#User').select2();
</script>
<!--The end Scrip-->
