@model Libs.Models.RequestDevice
@{
    ViewBag.Title = "Chỉnh sửa yêu cầu thiết bị";
}
<link href="~/Content/css/TcssProject.css" rel="stylesheet" />
<script src="~/Content/ckeditor/ckeditor.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

<section class="panel">
    @using (Html.BeginForm("EditRequestDevice", "RequestDevice", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal  editcontent", @Id = "formIdRequestDv" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-heading">
            <a class="edit panel-default" style="margin-right:10px" href="@Url.Action("RequestDevice", "RequestDevice")">
                <span class="icon-border">
                    <i class="icon-arrow-left"> </i>
                </span>
            </a>
            <h4 style="display:inline">Chi tiết thông tin yêu cầu thiết bị </h4>
        </div>

        <div class="">
            <input type="hidden" value="@Model.Id" name="IdRequest" id="IdRequest" />
            <input type="hidden" name="Id1" />
            <div class="panel-body " id="InfoRequest">
                @*<input type="hidden" value="@Model.Status" name="Status" />*@

                <div class="col-md-12 m-bot15">
                    <div class="row tkcs TcssPadT">
                        <div class="col-md-6 ">
                            <div class="form-group row">
                                <label class="col-md-4 "> Người yêu cầu</label>
                                <div class="col-md-8">
                                    <select class="input-large form-control myctr" name="UserRequest" id="user">
                                        @if (Model.UserRequest == 0)
                                        {
                                            <option value="0" selected>Chọn người yêu cầu</option>
                                        }
                                        else
                                        {
                                            <option value="0" >Chọn người yêu cầu</option>
                                        }
                                        @foreach (var item in ViewData["User"] as IList<User>)
                                        {
                                            if (Model.UserRequest == @item.Id)
                                            {
                                                <option value="@item.Id" selected>@item.FullName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id" >@item.FullName</option>
                                            }
                                        }
                                    </select>
                                </div>
                           
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 "> Ngày yêu cầu</label>
                                <div class="col-md-8 input-group">
                                    <input type="text" value="@String.Format("{0:yyyy-MM-dd}", Model.DateOfRequest)" class="form-control myctr form-control-inline input-medium default-date-picker" size="16" name="DateOfRequest" autocomplete="off" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-warning icon-calendar" style="line-height:inherit"></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 "> Ngày sử dụng  </label>
                                <div class="col-md-8 input-group">
                                    <input type="text" value="@String.Format("{0:yyyy-MM-dd}",Model.DateOfUse)" class="form-control myctr form-control-inline input-medium default-date-picker" size="16" name="DateOfUse" autocomplete="off" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-warning icon-calendar" style="line-height:inherit"></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 ">Tên thiết bị </label>
                                <div class="col-md-8"><input class="form-control  myctr" type="text" value="@Model.DeviceName" name="DeviceName" autocomplete="off"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 "> Kiểu thiết bị  </label>
                                <div class="col-md-8">
                                    <select class="form-control myctr" name="TypeOfDevice">
                                        @if (Model.TypeOfDevice == 0)
                                        {
                                            <option value="0" selected>Chọn kiểu thiết bị</option>
                                        }
                                        else
                                        {
                                            <option value="0">Chọn kiểu thiết bị</option>
                                        }
                                        @foreach (var item in ViewData["DeviceTypes"] as IList<DeviceType>)
                                        {
                                            if (Model.TypeOfDevice == @item.Id)
                                            {
                                                <option value="@item.Id" selected>@item.TypeName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.TypeName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 ">Số lượng thiết bị</label>
                                <div class="col-md-8"><input class="form-control  myctr" type="number" value="@Model.NumDevice" name="NumDevice" autocomplete="off"></div>
                            </div>
                          
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 ">Người phê duyệt</label>
                                <div class="col-md-8">
                                    <input  class="form-control input-large myctr " type="text" value="@Model.NameUserApproved"/>                                 
                                </div>
                            </div>
                            @*<input value="@Html.Raw(System.Web.HttpContext.Current.User.Identity.Name)" type="hidden" id="NameUserApproved" name="NameUserApproved" /> 
                            <input type="hidden" name="CreatedDate" value=@Model.CreatedDate />*@
                            <div class="form-group row">
                                <label class="col-md-4"> Cấu hình </label>
                                <div class="col-md-8 ">
                                    <textarea class="cke_editable form-control form" rows="3" id="editer2" name="Configuration">@Model.Configuration</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 "> Chú thích </label>
                                <div class="col-md-8">
                                    <textarea class="cke_editable form-control form myctr" rows="3" id="Notes" name="Notes">@Model.Notes</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row tkcs TcssPadT">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 "> Trạng thái yêu cầu  </label>
                                <div class="col-md-8">
                                    <select class="form-control myctr " name="Status" id="Status" onchange="StatusRequest()">
                                        @if (Model.Status == 0)
                                        {
                                            <option value="0" selected>Đang chờ duyệt</option>
                                        }
                                        else
                                        {
                                            <option value="0" >Đang chờ duyệt</option>
                                        }
                                        @if (Model.Status == 1)
                                        {
                                            <option value="1" selected class="disabled">Đã được duyệt</option>
                                        }
                                        else
                                        {
                                            <option value="1"  class="disabled">Đã được duyệt</option>
                                        }
                                        @if (Model.Status == 2)
                                        {
                                            <option value="2" selected>Bị từ chối</option>
                                        }
                                        else
                                        {
                                            <option value="2">Bị từ chối</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 "> Quá trình</label>
                                <div class="col-md-8">
                                    <textarea class="cke_editable form-control form myctr" rows="3">@Model.NoteProcess</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row" style="display:none">
                                <label class="col-md-4 ">Trạng thái phê duyệt</label>
                                <div class="col-md-8">
                                    <select class="input-large form-control myctr" name="Approved" id="Approved" @*onchange="StatusApproved()"*@>
                                        <option value="false" selected>Trạng thái yêu cầu</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 "> Lí do</label>
                                <div class="col-md-8">
                                    <textarea class="cke_editable form-control form myctr" rows="3">@Model.NoteReasonRefuse</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row form-body">
            <div class="TcssButton">
                @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("RequestDevice") && k.ActionName.Equals("EditRequestDevice")))
                {*@
                    @*<button type="submit" class="btn btn-primary btn-large"> Cập nhật </button>*@
                    <button type="button" class="btn btn-primary  btn-large" style="line-height:inherit" onclick="ClickApproRequest()" id="ApprovedTrue">Phê duyệt</button>
                    <button type="button" class="btn btn-success  btn-large" style="line-height:inherit" onclick="ClickCancelRequest()" id="ApprovedFail">Từ chối</button>
                    <button type="button" class="btn btn-success  btn-large" style="line-height:inherit" onclick="ClickStatusComplete()" id="StatusComplete">Cập nhật quá trình</button>
                @*}*@

                <button type="button" class="btn btn-white">@Html.ActionLink("Hủy", "RequestDevice", "RequestDevice") </button>

            </div>
        </div>
        @*<input type="hidden" id="StatusApproved" value="@Model.Approved" />*@
    <!--The end edit-->
        // POPUP
        <!--Popup Appro -->
        <div id="myModal1" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Xác Nhận</h4>
                    </div>
                    <div class="modal-body">
                        <p>Bạn chắc chắn "Phê duyệt" yêu cầu này</p>
                        @*<div class="form-group row">
                            <label class="col-md-4 ">Người phê duyệt</label>
                            <div class="col-md-8">
                                <select class="input-large form-control myctr " name="UserApproved" id="UserApproved" >
                                    <option value="">Chọn người phê duyệt</option>
                                    @foreach (var item in ViewData["User"] as IList<User>)
                                    {
                                        <option value="@item.Id" @(Model.UserApproved == @item.Id ? "selected" : "")>@item.FullName</option>
                                    }
                                </select>
                                <label class="label" style="display:none ; color:#ff6c60" id="TestNullPS">Bạn phải chọn người phê duyệt</label>
                            </div>
                        </div>*@
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-large" onclick="ApprovedOk()">Đồng ý</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal" onclick="CancelApproved()">Hủy</button>
                    </div>
                </div>
            </div>
        </div>

        <!--The end popup-->
           <!--Popup Appro -->
        <div id="myModal2" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Xác Nhận</h4>
                    </div>
                    <div class="modal-body">
                        <!--Containt-->
                        <p>Bạn chắc chắn "Từ chối" yêu cầu này</p>
                        @*<div class="form-group row">
                            <label class="col-md-4 ">Người từ chối</label>
                            <div class="col-md-8">
                                <select class="input-large form-control myctr " name="UserUnApproved" id="UserUnApproved" >
                                    <option value="">Người từ chối</option>
                                    @foreach (var item in ViewData["User"] as IList<User>)
                                    {
                                        <option value="@item.Id" @(Model.UserApproved == @item.Id ? "selected" : "")>@item.FullName</option>
                                    }
                                </select>
                                <label class="label" style="display:none ; color:#ff6c60" id="TestUserUnApproved">Bạn phải chọn người duyệt</label>
                            </div>
                        </div>*@

                        <div class="form-group row">
                            <label class="col-md-4 "> Lí do</label>
                            <div class="col-md-8">
                                <textarea class="cke_editable form-control form myctr" rows="3" id="NoteReasonRefuse" name="NoteReasonRefuse">@Model.NoteReasonRefuse</textarea>
                                <label class="label" style="display:none ; color:#ff6c60" id="TestNullType">Hãy nhập lí do từ chối</label>
                            </div>
                        </div>
                        <!--The end Containt-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-large" onclick="Approvedfail()" id="Exp">Đồng ý</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        <!--The end popup-->
            <!--Popup Appro -->
        <div id="myModal3" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Cập nhật</h4>
                    </div>
                    <div class="modal-body">
                        <!--Containt-->
                        <p> Quá trình cung cấp thiết bị </p>
                        <div class="form-group row">
                            <label class="col-md-4 ">Chi tiết : </label>
                            <div class="col-md-8">
                                <textarea class="cke_editable form-control form myctr" rows="3" id="NoteProcess" name="NoteProcess">@Model.NoteProcess</textarea>
                            </div>
                        </div>
                        <!--The end Containt-->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-large" onclick="ProcessApproved()">Cập nhật</button>
                        <button type="button" class="btn btn-white" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        <!--The end popup-->
    }
</section>

<script>
    $(document).ready(function () {
        // Lấy giá trị trạng thái hiện tại từ dropdown
        var sta = parseInt($("#Status").val());

        // Kiểm soát hiển thị nút và khóa/mở form
        if (sta === 1 || sta === 2) {
            // Trạng thái đã duyệt hoặc từ chối → khóa form
            $('#InfoRequest').find('input, select, textarea').attr('disabled', 'disabled');
            $("#ApprovedTrue, #ApprovedFail").hide();

            if (sta === 1) {
                $("#StatusComplete").show(); // Đã duyệt thì cho phép cập nhật quá trình
            } else {
                $("#StatusComplete").hide(); // Bị từ chối thì ẩn luôn
            }
        } else if (sta === 0) {
            // Đang chờ duyệt → mở form để chỉnh sửa
            $('#InfoRequest').find('input, select, textarea').removeAttr('disabled');
            $("#ApprovedTrue, #ApprovedFail").show();
            $("#StatusComplete").hide();
        }

        // Kích hoạt CKEditor và Select2
        CKEDITOR.replace('editer2');
        $('#user').select2();
        $('#UserApproved').select2();
        $('#UserUnApproved').select2();
    });

    // Mở popup phê duyệt
    var ClickApproRequest = function () {
        $("#myModal1").modal('show');
    }

    // Mở popup từ chối
    var ClickCancelRequest = function () {
        $("#myModal2").modal('show');
    }

    // Mở popup cập nhật quá trình
    var ClickStatusComplete = function () {
        $("#myModal3").modal('show');
    }

    // Phê duyệt yêu cầu
    var ApprovedOk = function () {
        $('#InfoRequest').find('input, select, textarea').removeAttr('disabled');
        $("#Approved option[value=false]").prop("selected", true);
        $("#Status option[value=1]").prop("selected", true);
        $("#formIdRequestDv").submit();
    }

    // Từ chối yêu cầu
    var Approvedfail = function () {
        var reason = $("#NoteReasonRefuse").val().trim();

        if (!reason) {
            $("#TestNullType").show();
        } else {
            $('#InfoRequest').find('input, select, textarea').removeAttr('disabled');
            $("#Approved option[value=false]").prop("selected", true);
            $("#Status option[value=2]").prop("selected", true);
            $("#formIdRequestDv").submit();
        }
    }

    // Cập nhật quá trình cung cấp thiết bị
    var ProcessApproved = function () {
        $('#InfoRequest').find('input, select, textarea').removeAttr('disabled');
        $("#formIdRequestDv").submit();
    }
</script>
